footer.site-footer
  .footer-inner
    .footer-brand
      span.brand-mark Taci
      span.brand-mark.em tus
      p A reality-check dashboard for curious readers.
    .footer-links
      h4 Product
      a(href='/workflow') Workflow
      a(href='/claims') Claims
      a(href='/threads') Threads
      a(href='/ask') Ask Tacitus
      a(href='/tacitus') Live Demo
    .footer-links
      h4 Company
      a(href='/privacy-policy.html') Privacy
      a(href='/terms-of-use.html') Terms
    .footer-links
      h4 Account
      a(href='/login') Log in
      a(href='/signup') Start Free
      a(href='/account') My Account
  .footer-bottom
    span (c) 2026 Tacitus Labs. All Rights Reserved.
    span Built for everyday truth-seekers.
